[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2025.11.x
[submodule "ccpm"]
	path = ccpm
	url = https://gitlab.com/ccpm-86/ccpm.git
[submodule "kedei"]
	path = kedei62
	url = https://github.com/naens/kedei62.git
