[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
	branch = 2025.11.x
[submodule "ccpm"]
	path = ccpm
	url = https://gitlab.com/ccpm-86/ccpm.git
[submodule "kedei62"]
	path = kedei62
	url = https://github.com/naens/kedei62.git
[submodule "8086tiny"]
	path = 8086tiny
	url = https://github.com/naens/8086tiny.git
